<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".sum" mimeType="text/plain" />
            <mimeMap fileExtension=".pya" mimeType="application/octet-stream" />
        </staticContent>
        <urlCompression doStaticCompression="false" />
    </system.webServer>
</configuration>
